<p-toast></p-toast>
<div class="card flex justify-center">
    <!-- Verify OTP Section -->
 
  <ng-template [ngIf]="showOtpDialog" pTemplate="header">
    <div class="otp-container">
        <h3>Verify OTP</h3>
        <p-inputotp [length]="6" [(ngModel)]="otpValue" [mask]="false"></p-inputotp>
        <p-message *ngIf="otpError" severity="error" text="Invalid OTP"></p-message>
        <button pButton label="Verify OTP" (click)="verifyOtp()" class="btn-primary" *ngIf="!showForgetPasswordDialog"  ></button>
       <p-button label="Resend OTP "  (click)="resendOtp()"  ></p-button>

    </div>
  </ng-template>

   <ng-template [ngIf]="showForgetPasswordDialog" pTemplate="header">

    <app-digalog [formGroup]="forgetPasswordForm" [InputControls]="forgetPasswordInputControls" (formSubmit)="forgetPassword($event)" [btnlabel]="btnName"></app-digalog>
    
   </ng-template>

    <ng-template [ngIf]="showEmailInput" pTemplate="header">
        <!-- {{"hello"}} -->
        <input type="email" placeholder="email" [(ngModel)]="email" class="email-input" />
       <p-button label="Send OTP" (click)="sendOtp()" class="btn-primary"></p-button>
    </ng-template>
   
    <!-- {{showEmailInput}} -->

</div>