

<div class="transcations" >
    <h3>Transcations History</h3>
    <ul>
        <li >
            <p><strong>Date:</strong> {{transcations.createdAt | date:'medium'}}</p>
            <p><strong>Amount:</strong> {{transcations.amount}}</p>
            <p><strong>Description:</strong> {{transcations.transactionType}}</p>
            <!-- <p><strong>Account_Type:</strong> {{account_info.account?.account_type}}</p>
            <p><strong>Account_Number:</strong> {{account_info.account.account_number}}</p> -->
        </li>
    </ul>

<!-- </div> -->