
<app-navbar></app-navbar>

<div  *ngIf="!bills" class="spinner" >
    <p-progress-spinner ariaLabel="loading"></p-progress-spinner>
</div>

<p-toast></p-toast>
<ng-container *ngIf="bills">
    <div class="bills-container">
    <ng-container *ngFor="let item of bills" >
        <app-bill-card [bill]="item" class="bill-card" (isBillUpdated)="isBillUpdatedParent($event)"  (isBillDeleted)="isBillDeletedParent($event)" [accounts]="accounts" ></app-bill-card>
    </ng-container>
</div>
</ng-container>


<ng-container>
    <p-button label="Create the New Bill" (click)="showDialog()" class="create-bill-button" *ngIf="bills">
    </p-button>
    <div class="">
        <p-dialog header="Bills " [modal]="true" [(visible)]="visible" [style]="{ width: '100vw' , height: '100vh'}"> 
            <app-digalog [formGroup]="createBillForm" [InputControls]="billFormInputControls"  (formSubmit)="createBill($event)" [frequency_arr]="frequency_arr"  [btnlabel]="btnName" [accounts]="accounts"  ></app-digalog>
        </p-dialog>
    </div>
</ng-container>


<ng-container>
    <ng-container *ngIf="bills">
        <div class="bills-container">
            <ng-container *ngFor="let item of billsTranscation">
                <app-generic-display-transcation [transaction]="item" ></app-generic-display-transcation>
            </ng-container>
        </div>
    </ng-container>
</ng-container>

<div class="card flex justify-center">
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="120"  />
</div>



