<p-toast></p-toast>

<app-barchart1 ></app-barchart1>

<div class="dashboard">
    <h2>All Users</h2>
    <div *ngFor="let user of allUsers" class="user-card">
      <div class="user-info"  (click)="selectUser(user)">
        <p><strong>Name:</strong> {{ user.name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Phone:</strong> {{ user.phone }}</p>
        <p><strong>Role:</strong> {{ user.role }}</p>
        <p><strong>Verified:</strong> {{ user.isVerified ? 'Yes' : 'No' }}</p>
        <p><strong>Created At:</strong> {{ user.createdAt | date: 'medium' }}</p>
      </div>
      <div *ngIf="user.accounts.length === 0" class="no-accounts">
        <p>No accounts available for this user.</p>
      </div>
    </div>
  </div>





