<p-toast></p-toast>
<ng-container class="bill-template" *ngIf="bill">
    <div class="bill-card">
        <h3 class="bill-title">{{ bill.billName }}</h3>
        <p class="bill-amount">Amount: {{ bill.amount }}</p>
        <p class="bill-due-date">next Payment Date : {{bill.nextPaymentDate | date}}</p>
        <p class="bill-frequency">Frequency: {{ bill.frequency }}</p>
        <p class="bill-frequency">Account Number: {{ bill.account.account_type }}</p>
        <p class="bill-frequency">Account Type: {{ bill.account.account_number }}</p>
        <p-button (click)="showDialog('payBills')" label="Pay bills" />
        <i class="pi pi-pencil" style="font-size: 1rem" (click)="showDialog('isupdateBill')"></i>
        <p-toast />
        <p-confirmdialog />
        <p-button (click)="confirm2($event)" label="Delete" severity="danger" [outlined]="true" />
    </div>
</ng-container>



<div class="card flex justify-center">
   
     <p-dialog header="Pay bills" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem', height:'50rem' }">
        
        <ng-container *ngIf=" dialogtype == 'isupdateBill' ">
            <app-digalog [formGroup]="updateBillFrom" [InputControls]="billFormInputControls" [frequency_arr]="frequency_arr" [accounts]="accounts" [btnlabel]="dialogtype" (formSubmit)="updateBill($event)"   ></app-digalog>
        </ng-container>
 
       <ng-container  *ngIf="dialogtype == 'payBills'" >
        <app-digalog [formGroup]="payBillFormGroup" [InputControls]="payBillInputControls" [accounts]="accounts" [btnlabel]="payBillBtn" (formSubmit)="payBill($event)" ></app-digalog>
       </ng-container>

    </p-dialog>
</div>





