<ng-container> 
    <p-toast></p-toast>
    <p-button label="Create the New Query " (click)="showDialog()" class="create-bill-button">
    </p-button>
    <div class="card flex justify-center align-center ">
        <p-dialog header="Bills " [modal]="true" [(visible)]="visible" [style]="{ width: '100vw' , height: '100vh'}">
             <form  [formGroup]="supportForm">
                <span class="p-text-secondary block mb-8">  Create the query  </span>
            <div class="flex items-center gap-4 mb-4">
                <label for="name" class="font-semibold w- 24">Query Name </label>
                <input pInputText id="name" class="flex-auto" autocomplete="off" formControlName="subject" />
            </div>
            <span class="form-groupd-err"
            *ngIf="!supportForm.controls['subject']?.valid && (supportForm.controls['subject']?.dirty
            ||supportForm.controls['subject'].touched)">
                <p-message severity="error" text="Bill Name is required"></p-message>
            </span> 
            <div class="flex items-center gap-4 mb-8">
                <label for="amount" class="font-semibold w-24">Description</label>
                <input pInputText id="amount" class="flex-auto" autocomplete="off" formControlName="description" />
            </div> 
            <span class="form-groupd-err"
            *ngIf="!supportForm.controls['description']?.valid && (supportForm.controls['description']?.dirty
            ||supportForm.controls['description'].touched)">
                <p-message severity="error" text="Bill Name is required"></p-message>
            </span> 
            </form>
             <div class="flex justify-end gap-2 mt-4">
                <p-button label="Cancel" severity="secondary" (click)="visible = false" />
                <p-button label="Save" (click)="createSupport()" />
            </div>
        </p-dialog>
    </div>
</ng-container>


<div class="support">
    <ng-container *ngFor="let supportQuery of allSupportQuery " >
        <app-support-query [supportQuery]="supportQuery" (issupportQueryDeleted)="supportQueryDeleted($event)" (issupportQueryUpdated)="supportQueryDeleted($event)" ></app-support-query>
    </ng-container>
</div> 