<p-toast></p-toast>
<ng-container *ngIf="!account" class="spinner">
    <p-progress-spinner ariaLabel="loading"></p-progress-spinner>
</ng-container>

<ng-container *ngIf="account">
    <div class="account-detail">
        <h2>Account Details</h2>
        <div class="account-info">
            <p><strong>Name:</strong> {{account.name}}</p>
            <p><strong>Balance:</strong> {{account.balance}}</p>
            <p><strong>Account Type:</strong> {{account.account_type}}</p>
            <p><strong>Account Number:</strong> {{account.account_number}}</p>
        </div>


        <div class="account-actions"  *ngIf="account.status == '1' ">  
        <p-button (click)="showDialog('deposit')" label="Deposit" *ngIf="transcations" />
        <p-button label="WithDraw" severity="warn" (click)="showDialog('withdraw')"  />
        <p-button label="Transfer Money " severity="help" (click)="showDialog('transfer')"  />
        <p-button label="Deactivate Account " severity="danger" (click)="deactiveAccount()"  />
    </div>
    <p-button label="Activate Account " severity="success" (click)="activeAccount()"  *ngIf="account.status == '0' "/>
        </div>
</ng-container>


<input pInputText id="username" [(ngModel)]="search" [formControl]="searchText" autocomplete="off"   />
<label for="username">Search Transactions</label>



<div class="transactions" *ngIf="transcations">
    <h3>Transactions</h3>
    <ul>
        <li *ngFor="let transaction of transcations">
            <app-generic-display-transcation [transaction]="transaction"></app-generic-display-transcation>
        </li>
    </ul>

    <div class="card flex justify-center">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="120"  />
    </div>
    

    
   

    <!-- <h3>Transactions To</h3>
    <ul>
        <li *ngFor="let transaction of transcations.transactionsTo">
            <p><strong>Date:</strong> {{transaction.createdAt | date:'full'}}</p>
            <p><strong>Amount:</strong> {{transaction.amount}}</p>
            <p><strong>Description:</strong> {{transaction.transactionType}}</p>
        </li>
    </ul> -->
</div>





<p-progress-spinner ariaLabel="loading" *ngIf="isTranscationCompleted"></p-progress-spinner>

<div class="card flex justify-center">
   
         <p-dialog header="Transactions" [modal]="true" [(visible)]="visible" [style]="{ width: '100vw' , height:'100vh' }">

        <!-- <ng-container *ngIf="type == 'transfer'">
            <span class="p-text-secondary block mb-8">Account Number</span>
        <div class="flex items-center gap-4 mb-4">
            <label for="username" class="font-semibold w-24">Account No</label>
            <input pInputText id="username" class="flex-auto" autocomplete="off" [(ngModel)]="account_number" />
        </div>
        </ng-container>

        <div class="flex items-center gap-4 mb-4">
            <label for="username" class="font-semibold w-24">Amount</label>
            <input pInputText id="username" class="flex-auto" autocomplete="off" [(ngModel)]="amount" />
        </div>

        <ng-container *ngIf="type == 'transfer'">
        <div class="flex items-center gap-4 mb-4">
            <label for="username" class="font-semibold w-24">Description</label>
            <input pInputText id="username" class="flex-auto" autocomplete="off" [(ngModel)]="transactionType"  />
        </div>
        </ng-container>

        <div class="flex justify-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="visible = false" />
            <p-button label="Deposit" (click)="DepositAmount()" *ngIf="type =='deposit'" />
            <p-button label="withdraw" severity="warn" (click)="withdrawAmount()"  *ngIf="type == 'withdraw'"/>
            <p-button label="Transfer" severity="help" (click)="transferAmount()"  *ngIf="type == 'transfer'"/>
            <p-button label=" '' " ></p-button> -->

      <ng-container *ngIf="type == 'deposit'">
        <app-digalog [formGroup]="depositFormGroup" (formSubmit)="DepositAmount($event)" [InputControls]="inputAmount" [btnlabel]="type"  ></app-digalog>    
      </ng-container>

      <ng-container *ngIf="type == 'withdraw'">
        <app-digalog [formGroup]="depositFormGroup" (formSubmit)="withdrawAmount($event)" [InputControls]="inputAmount" [btnlabel]="type"  ></app-digalog>    
      </ng-container>
      
      <ng-container *ngIf="type == 'transfer'">
        <app-digalog [formGroup]="transferFromgroup" (formSubmit)="transferAmount($event)" [InputControls]="transferFromInputControl" [btnlabel]="type"  ></app-digalog>    
      </ng-container>
      

        <!-- </div> -->
    <!-- </p-dialog> -->
<!-- </div> -->
