<p-toast></p-toast>


<app-spinner [condition]="!account || isLoading"></app-spinner>


<ng-container *ngIf="account">

    <div class="account-detail">

        <h2>Account Details</h2>

        <div class="account-info">

            <p><strong>Name:</strong> {{account.name}}</p>

            <p><strong>Balance:</strong> {{account.balance}}</p>

            <p><strong>Account Type:</strong> {{account.account_type}}</p>

            <p><strong>Account Number:</strong> {{account.account_number}}</p>

        </div>

        <div class="account-actions"  *ngIf="account.status == '1' ">  
            
        <p-button (click)="showDialog('deposit')" label="Deposit" *ngIf="transcations" />
        <p-button label="WithDraw" severity="warn" (click)="showDialog('withdraw')"  />
        <p-button label="Transfer Money " severity="help" (click)="showDialog('transfer')"  />
        <p-button label="Deactivate Account " severity="danger" (click)="deactiveAccount($event)"  />
    </div>
    <p-button label="Activate Account " severity="success" (click)="activeAccount($event)"  *ngIf="account.status == '0' "/>
        </div>
</ng-container>


    
<ng-container *ngIf="transcations && account">
    <input pInputText id="username" [(ngModel)]="search" autocomplete="off"  (keyup.enter)="searchText()"  />
<label for="username" id="search-label">Search Transactions</label>
</ng-container>





<div class="transactions" *ngIf="transcations && account">
    <h3>Transactions</h3>
    <ul>
        <li *ngFor="let transaction of transcations">
            <app-generic-display-transcation [transaction]="transaction"></app-generic-display-transcation>
        </li>
    </ul>

    <div class="card flex justify-center">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="120"  />
    </div>

</div>





<p-progress-spinner ariaLabel="loading" *ngIf="isTranscationCompleted"></p-progress-spinner>

<div class="card flex justify-center">
   
         <p-dialog header="Transactions" [modal]="true" [(visible)]="visible"  [style]="{height:'35rem',width:'30rem'}"  >

      <ng-container *ngIf="type == 'deposit'">
        <app-digalog [formGroup]="depositFormGroup" (formSubmit)="DepositAmount($event)" [InputControls]="inputAmount" [btnlabel]="type"  ></app-digalog>    
      </ng-container>

      <ng-container *ngIf="type == 'withdraw'">
        <app-digalog [formGroup]="depositFormGroup" (formSubmit)="withdrawAmount($event)" [InputControls]="inputAmount" [btnlabel]="type"  ></app-digalog>    
      </ng-container>
      
      <ng-container *ngIf="type == 'transfer'">
        <app-digalog [formGroup]="transferFromgroup" (formSubmit)="transferAmount($event)" [InputControls]="transferFromInputControl" [btnlabel]="type"  ></app-digalog>    
      </ng-container>
      
</p-dialog>

</div>
       