

<app-navbar></app-navbar>

<p-toast></p-toast>


<div class="profile-info" >
    <div>
        <h1>Welcome  {{userData.name}}</h1>
        <p>Name : {{userData.name}}</p>
        <p> Email : {{userData.email}}  </p> 
        <p> Phone : {{userData.phone}} </p>
        <p   > Address : {{userData.address}} </p>
        <p-button severity="success" label="Update  Profile" (click)="updateProfileDialog()" ></p-button>
        <p-button severity="warn" label="Update  Password " (click)="updatePasswordDialog()" ></p-button>
        <!-- <a href="http://localhost:4000/api/account/getExpensepdf">Download Expense Pdf </a> -->
         <p-button (click)="downloadExpense()"  > DownLoad Expense  Pdf </p-button>
    </div>
    
   <div class="chart-container">
    <app-barchart></app-barchart>
   </div>
    
</div>


<form [formGroup]="updateUserInfoForm" >
    <p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '45rem', height:'40rem' }">

        <app-digalog [formGroup]="updateUserInfoForm" [InputControls]="updateInfoControls" (formSubmit)="updateUserInfo($event)" [btnlabel]="btnProfileName"  ></app-digalog >

    </p-dialog>
</form>





<form [formGroup]="updateUserPasswordForm" >
    <div class="card flex justify-center">
    
      <p-dialog header="Edit Profile" [modal]="true" [(visible)]="updatePasswordVisible" [style]="{ width: '25rem' }">
         
         <app-digalog [formGroup]="updateUserPasswordForm" [InputControls]="updatePasswordControls" (formSubmit)="updatePassword($event)" [btnlabel]="btnProfileName"  ></app-digalog >

     </p-dialog>
 </div>
</form>
 

