
<div class="">
    <h1>Welcome  {{userData.name}}</h1>
    <p>Name : {{userData.name}}</p>
    <p> Email : {{userData.email}}  </p> 
    <p> Phone : {{userData.phone}} </p>
    <p-button severity="success" label="Update the Profile" (click)="updateProfileDialog()" ></p-button>

</div>

<form [formGroup]="updateUserInfoForm">
    <p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '45rem', height:'40rem' }">
        <span class="p-text-secondary block mb-8">Update your information.</span>
        <div class="flex items-center gap-4 mb-4">
            <label for="username" class="font-semibold w-24">Username</label>
            <input pInputText id="username" class="flex-auto" autocomplete="off" formControlName="name" />
        </div>
        <div class="flex items-center gap-4 mb-8">
            <label for="email" class="font-semibold w-24">Email</label>
            <input pInputText id="email" class="flex-auto" autocomplete="off" formControlName="email"  />
        </div>
        <div class="flex items-center gap-4 mb-8">
            <label for="email" class="font-semibold w-24">Phone </label>
            <input pInputText id="email" class="flex-auto" autocomplete="off" formControlName="phone" />
        </div>
        <!-- <div class="flex items-center gap-4 mb-8">
            <label for="email" class="font-semibold w-24">Password</label>
            <input pInputText id="email" class="flex-auto" autocomplete="off" formControlName="password"  />
        </div>
        <div class="flex items-center gap-4 mb-8">
            <label for="email" class="font-semibold w-24"> confirm  Password</label>
            <input pInputText id="email" class="flex-auto" autocomplete="off" formControlName="confirmPassword"  />
        </div> -->

        <div class="flex items-center gap-4 mb-8">
            <label for="email" class="font-semibold w-24"> Address </label>
            <input pInputText id="email" class="flex-auto" autocomplete="off" formControlName="address"  />
        </div>

        <div class="flex justify-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="visible = false" />
            <p-button label="Save" (click)="updateUserInfo()" />
        </div>
    </p-dialog>
</form>


<!-- <app-barchart></app-barchart> -->