<p-toast></p-toast>
<form action="" [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="form-container">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" pInputText formControlName="email" id="email" class="input-field" />
    </div>
  
    <div class="form-group">
      <label for="password">Password:</label>
      <p-password formControlName="password" [toggleMask]="true"  [feedback]="false" />
    </div>

    <div class="button-container">
      <p-button label="Login" severity="success" type="submit" pRipple></p-button>
    </div>
  </div>
</form>